#create {
  table {
    width: 80%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  thead {
    border-bottom: 1px solid var(--gray);
    width: 100%;
    th {
      font-size: 30px;
      padding: 30px;
      text-align: left;
    }
  }
  tbody {
    th {
      font-size: 20px;
    }
    tr {
      display: flex;
      margin: 40px 0;
      > td {
        display: flex;
        flex-direction: column;
        &:first-child {
          margin-right: 70px;
        }
      }
    }
  }
  input {
    border: none;
    border: 1px solid #ECE9E5;
    width: 400px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 0.5s;
    &:focus {
      border: 1px solid #333E48;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #create {
    tbody {
      tr {
        display: block;
        > td {
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}