#contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  * {
    color: var(--navy)
  }
  > ul:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    > li {
      width: 30%;
      margin: 20px 10px;
    }
    .itemBox {
      position: relative;
      h3 {
        font-size: 16px;
        margin-top: 10px;
      }
      .new {
        transition: 0.5s;
        position: absolute;
        right: 25px;
        top: 15px;
        font-size: 16px;
        border-bottom: 1px solid var(--navy);
      }
      img {
        margin-top: 0px;
        margin-bottom: 5px;
        width: 100%;
        border: 1px solid var(--gray);
      }
    }
  } 
}

@media only screen and (max-width: 980px) {
  #contents {
    > ul:nth-child(1) {
      > li {
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #contents {
    > ul:nth-child(1) {
      justify-content: space-between;
      > li {
        width: 46%;
      }
    }
    #searchBox {
      display: none;
    }
  }
}

@media only screen and (max-width: 520px) {
  #contents {
    > ul:nth-child(1) {
      > li {
        width: 100%;
      }
    }
  }
}