#searchBox {
  width: 300px;
  height: 600px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  .selectType {
    border-bottom : 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    line-height: 50px;
    h3 {
      font-weight: bold;
    }
  }
  .options {
    border-bottom: 1px solid var(--gray);
    padding: 20px 0;
    > li {
      height: 30px;
      line-height: 2;
      font-size: 12px;
      input[type='checkbox'] {
        width: 15px;
        float: right;
        height: 30px;
        border: 1px solid var(--gray);
        &:checked {
          filter: grayscale(0.7) hue-rotate(24deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #searchBox {
    width: 400px;
  }
}
@media only screen and (max-width: 700px) {
  #searchBox {
    display: none;
  }
}