@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
:root {
  --gray: #ECE9E5;
  --navy: #333E48;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

body {
  width: 100%;
  min-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  color: inherit;
}
.innerContainer {
  max-width: 1400px;
  margin: 0 auto;
}
.introHeader{
  text-align: center;
}
.introHeader > div {
  margin: 100px 0;
}
.introHeader h1 {
  font-size: 40px;
}
.introHeader p {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}